<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>SourceSansPro-Black.otf</string>
		<string>SourceSansPro-BlackIt.otf</string>
		<string>SourceSansPro-Bold.otf</string>
		<string>SourceSansPro-Boldlt.otf</string>
		<string>SourceSansPro-ExtraLight.otf</string>
		<string>SourceSansPro-ExtraLightlt.otf</string>
		<string>SourceSansPro-lt.otf</string>
		<string>SourceSansPro-Light.otf</string>
		<string>SourceSansPro-Lightlt.otf</string>
		<string>SourceSansPro-Regular.otf</string>
		<string>SourceSansPro-Semibold.otf</string>
		<string>SourceSansPro-Semiboldlt.otf</string>
	</array>
</dict>
</plist>
